.bg-image {
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), image-url("banner.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 15px;
}
