<div class="container">
  <h1><%= @song.title %></h1>


  <iframe width="560" height="315" src="https://www.youtube.com/embed/mQH7xooHIec" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


  <p>Original lyrics</p>
  <p><%= @song.lyrics_original %></p>

  <p>Translated lyrics</p>
  <p><%= @song.lyrics_translated %></p>

</div>
