<div class="banner">
  <div class="banner-content text-center">
    <h1>Music for all</h1>
    <p>Music is the shortest distance between two people.</p>
    <%= link_to "Explore", songs_path, class: "btn btn-lg btn-primary"  %>

    <%= link_to "Register", new_user_registration_path, class: "btn btn-lg btn-primary"  %>
  </div>
</div>
